{
    "extends": [
      "@regru/regru"
    ],
    "parserOptions": {
      "parser": "babel-eslint"
    },
    "rules": {
      "@regru/jquery-dollar-sign-reference/jquery-dollar-sign-reference": "off"
    }
}
